.container{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    color: white;
    font-family: "Gotham HTF",sans-serif;
    font-size: 6em;
    font-weight: 400;
    z-index: 1;
    text-align: center;
}

.container h2{
    color: #ffffff;
    font-family: "Gotham HTF",sans-serif;
    font-size: 6rem;
    margin-left: 21%;
    font-weight: 400;
    z-index: 1;
}

.container h3{
    color:#ffffff;
    opacity: 0.05;
    font-size: 20em ;
    font-family: "Gotham HTF",sans-serif;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%,-50%);
    z-index: 0;
}

@media only screen and (max-width: 1000px) {
    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    .container h1 {
        font-size: 4em;
    }

    .container h2 {
        font-size: 4em;
        margin-left: 0;
    }

    .container h3 {
        top: 55%;
        font-size: 10em;
    }
}